screen-home-phoneportrait {
    ion-header {
        .toolbar {
            position: absolute;
        }
    }
    ion-item-sliding > ion-item > .item-inner{
        border-bottom: none !important;
    }
    ion-footer {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, .33);
    }
}
