screen-home-phoneportrait {
    ion-header {
        .toolbar {
            position: absolute;
        }
    }
    ion-item-sliding > ion-item > .item-inner{
        border-bottom: none !important;
    }
}
