screen-tickets-mytickets-phoneportrait,
screen-tickets-mytickets_phoneportrait {
    ion-header {
        .segment {
            .segment-button {
                text-transform: none;
                font-weight: normal;
                max-width: none;
                border-color: transparent;
                color: color($colors, coal);
                font-size: 16px;
                &.segment-activated {                    
                    color: color($colors, black);
                }
            }
        }
    }
    ion-content {
         .segment {
             position: static !important;
            .segment-button {
                max-width: none;
                &.segment-activated {                    
                    color: color($colors, white) !important;
                
                }
            }
        }
        ion-item-sliding > ion-item > .item-inner{
            border-bottom: none !important;
        }
    }
}
