screen-incident-newissue-phoneportrait,
screen-incident-newissue_phoneportrait {
    [data-comp-id^="input."], [data-comp-id^="select."] {
        ion-label {
            width: 70px;
        }
    }
    [data-comp-id^="take-photo."] {
        .item-block .item-inner {
            border: none;
        }
        .item-ios ion-icon[item-end] {
            margin: 5px 8px 5px 0px;
        }
    }
}
