screen-incident-newissue-phoneportrait,
screen-incident-newissue_phoneportrait {
    [data-comp-id^="input."], [data-comp-id^="select."] {
        ion-label {
            width: 150px;
        }
    }
}
