<ion-header data-comp-id="header.1" style="padding: 0; margin: 0;">
    <ion-navbar color="light" data-comp-id="navbar.1" mode="ios" style>
        <ion-row data-comp-id="row.1" style="padding: 0 0 4px;">
            <ion-col data-comp-id="column.1" style="text-align: left; padding: 0 4px;">
                <button (click)="action('back')" class="button-label-primary" clear
                    data-comp-id="button.1" ion-button mode="ios" small
                    style="font-size: 17px; padding: 0 4px; margin: 0 2px;">
                    <ion-icon class=" ion-ios-arrow-back" color="primary" style="font-size: 28px;"></ion-icon>
                    <span style="padding: 0 0 0 8px;">Back</span>
                </button>
            </ion-col>
            <ion-col data-comp-id="column.2" style="text-align: right; padding: 0;">
                <button (click)="action('back')" clear data-comp-id="button.2" ion-button
                    mode="ios" small style="margin: 0 2px; font-size: 17px; padding: 0 8px;">
                    <span>Cancel</span>
                </button>
            </ion-col>
            <ion-col col-12 data-comp-id="column.3" style="padding: 0 0 4px 16px;">
                <div color="black" data-comp-id="text.1" ion-text style="font-size: 34px;">Create Request</div>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>
<ion-content data-comp-id="content.1">
    <ion-list data-comp-id="list.1">
        <ion-item data-comp-id="input.1">
            <ion-label>Label</ion-label>
            <ion-input placeholder="Type here..." type="text"></ion-input>
        </ion-item>
        <ion-item data-comp-id="input.2">
            <ion-icon class=" ion-ios-search" item-right></ion-icon>
            <ion-label>Label</ion-label>
            <ion-input placeholder="Type here..." type="text"></ion-input>
        </ion-item>
        <ion-item data-comp-id="input.3">
            <ion-label>Label</ion-label>
            <ion-input placeholder="Type here..." type="text"></ion-input>
        </ion-item>
        <ion-item data-comp-id="input.4">
            <ion-label>Label</ion-label>
            <ion-input placeholder="Type here..." type="text"></ion-input>
        </ion-item>
        <ion-item class="wrap-field" data-comp-id="select.1">
            <ion-label>Select</ion-label>
            <ion-select [selectOptions]="{cssClass: 'select-full'}" interface="alert">
                <ion-option data-comp-id="option.1"></ion-option>
            </ion-select>
        </ion-item>
        <ion-item data-comp-id="input.5">
            <ion-label>Label</ion-label>
            <ion-input placeholder="Type here..." type="text"></ion-input>
        </ion-item>
        <ion-row data-comp-id="row.4"
            style="margin: 0; padding: 0; border-top: none; border-right: none; border-bottom: none; border-left: none;">
            <ion-col data-comp-id="column.7" style="padding: 0; margin: 0;">
                <div data-comp-id="take-photo.1" take-photo>
                    <ion-item>
                        <ion-thumbnail item-right>
                            <img #thumbnail>
                        </ion-thumbnail>
                        <ion-label>
                            <span class="label">Take Photo</span>
                            <input #file accept="image/*" capture="camera" class="fallback-input"
                                type="file">
                        </ion-label>
                        <ion-icon color="primary" item-end name="camera"></ion-icon>
                    </ion-item>
                    <camera-canvas></camera-canvas>
                </div>
            </ion-col>
            <ion-col data-comp-id="column.8" style="margin: 0; padding: 0;">
                <ion-icon class="ion-ios-information-circle" data-comp-id="icon.1"
                    style="font-size: 28px"></ion-icon>
            </ion-col>
        </ion-row>
        <ion-item class="wrap-field" data-comp-id="select.2">
            <ion-label>Select</ion-label>
            <ion-select [selectOptions]="{cssClass: 'select-full'}" interface="alert">
                <ion-option data-comp-id="option.2"></ion-option>
            </ion-select>
        </ion-item>
        <ion-item data-comp-id="textarea.1">
            <ion-textarea placeholder="Type here..." rows="3"></ion-textarea>
        </ion-item>
    </ion-list>
    <ion-list #top data-comp-id="list.2" style="margin: 0px 0px 16px;">
        <ion-item data-comp-id="input.6" mode="ios">
            <ion-label class=" required" color="dark" mode="ios"
                style="font-size: 16px; width: 70px;">By</ion-label>
            <ion-input (ionChange)="onKeyUp($event)" [(ngModel)]="data.requestor"
                [readonly]="true" maxlength="12" mode="ios" placeholder="Type here..."
                type="text"></ion-input>
        </ion-item>
        <ion-item (click)="action('search')" data-comp-id="input.7" mode="ios"
            style="margin: 0; padding: 0px 0px 0px 16px;">
            <ion-label color="dark" mode="ios" style="font-size: 16px; width: 70px;">For</ion-label>
            <ion-input [(ngModel)]="data.caller" [readonly]="true" mode="ios"
                placeholder="Search..." style="z-index: 1;" type="text"></ion-input>
            <ion-icon color="highlight" data-comp-id="icon.2" item-end name="search"
                style="font-size: 28px; padding: 2px 10px; margin: 8px 0px 8px 0px; z-index: 1000; float: right;"></ion-icon>
        </ion-item>
        <ion-item data-comp-id="input.8" mode="ios">
            <ion-label color="dark" mode="ios" style="font-size: 16px; width: 70px;">Email</ion-label>
            <ion-input (ionChange)="onKeyUp($event)" [(ngModel)]="data.email"
                [readonly]="true" maxlength="12" mode="ios" placeholder="Type here..."
                type="text"></ion-input>
        </ion-item>
        <ion-item data-comp-id="input.9" mode="ios">
            <ion-label class=" required" color="dark" mode="ios"
                style="font-size: 16px; width: 70px;">Phone</ion-label>
            <ion-input (ionChange)="onKeyUp($event)" [(ngModel)]="data.callBackNumber"
                maxlength="12" mode="ios" placeholder="Type here..." type="text"></ion-input>
        </ion-item>
        <ion-item class="wrap-field" data-comp-id="select.3" mode="ios">
            <ion-label color="dark" mode="ios" style="font-size: 16px;">Type</ion-label>
            <ion-select [(ngModel)]="data.type.selected" [disabled]="data.typeReadOnly"
                [selectOptions]="{cssClass: 'select-full'}" interface="action-sheet" mode="ios">
                <ion-option *ngFor="let item of data.type.options" [innerHTML]="item.label"
                    [value]="item.value" data-comp-id="option.3"></ion-option>
            </ion-select>
        </ion-item>
        <ion-item data-comp-id="input.10" mode="ios"
            style="margin: 0; padding: 0px 0px 0px 16px;">
            <ion-label color="dark" mode="ios" style="font-size: 16px; width: 70px;"
                text-wrap>Location or Seat</ion-label>
            <ion-input [(ngModel)]="data.seat" maxlength="30" mode="ios"
                placeholder="Type here..." type="text"></ion-input>
        </ion-item>
        <ion-row data-comp-id="row.2" style="margin: 0px 0px 0px; padding: 0px 0px;">
            <ion-col data-comp-id="column.4" style="margin: 0px 0px 0px; padding: 2px 0px;">
                <div [(ngModel)]="data.photo" data-comp-id="take-photo.2" take-photo>
                    <ion-item>
                        <ion-thumbnail item-right>
                            <img #thumbnail>
                        </ion-thumbnail>
                        <ion-label color="dark" style="font-size: 16px;">
                            <span class="label">Take Photo</span>
                            <input #file accept="image/*" capture="camera" class="fallback-input"
                                type="file">
                        </ion-label>
                        <ion-icon color="primary" item-end name="camera"></ion-icon>
                    </ion-item>
                    <camera-canvas></camera-canvas>
                </div>
            </ion-col>
            <ion-col (click)="removeAttachment()" *ngIf="data.photo" data-comp-id="column.5"
                style="max-width: 52px; padding: 0px 0px; margin: 0px 0px 0px;">
                <button data-comp-id="fab-button.1" ion-fab mini
                    style="margin: 6px; padding: 0;">
                    <ion-icon class=" ion-md-close" style="font-size: 22px;"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
        <ion-item class="wrap-field" data-comp-id="select.4" mode="ios">
            <ion-label class=" required" color="dark" mode="ios"
                style="font-size: 16px; width: 60px;">Urgency</ion-label>
            <ion-select [(ngModel)]="data.urgencySelect.selected"
                [selectOptions]="{cssClass: 'select-full'}" interface="alert" mode="ios">
                <ion-option *ngFor="let item of data.urgencySelect.options"
                    [innerHTML]="item.label" [value]="item.value" data-comp-id="option.4"></ion-option>
            </ion-select>
        </ion-item>
        <ion-item data-comp-id="textarea.2" mode="ios">
            <ion-label class=" required" color="dark" mode="ios" stacked
                style="font-size: 16px;">Short Description</ion-label>
            <ion-textarea [(ngModel)]="data.shortDescription" maxlength="160" mode="ios"
                placeholder="Type here..." rows="5"></ion-textarea>
        </ion-item>
    </ion-list>
    <ion-row data-comp-id="row.3">
        <ion-col data-comp-id="column.6"
            style="text-align: center; padding: 0 16px 16px;">
            <button (click)="action('submit')" color="secondary" data-comp-id="button.3"
                full ion-button mode="ios" style="margin: 0; border-radius: 20px;">
                <span>Submit</span>
            </button>
        </ion-col>
    </ion-row>
</ion-content>