<ion-header data-comp-id="header.1">
    <ion-navbar color="contrast" data-comp-id="navbar.1" mode="ios" style="">
        <button (click)="action('back')" color="contrast" data-comp-id="button.1" icon-only="" ion-button="" style="font-size: 14px; margin: 2px 2px;">
            <ion-icon name="arrow-back" style="padding: 0px 16px; font-size: 25px;"></ion-icon>
        </button>
        <ion-title data-comp-id="title.1" text-center="">
            <span color="white" ion-text="" style="">New Request</span>
        </ion-title>
        <ion-buttons data-comp-id="buttons.1" right="">
            <button (click)="action('home')" data-comp-id="button.2" icon-only="" ion-button="" mode="ios" style="font-size: 17px; padding: 5px;">
                <ion-icon name="home" style=""></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content class="content-light ignore-footer" data-comp-id="content.1">
    <div data-comp-id="div.1" style="padding: 20px 0px 0px 0px; max-width: 600px; margin: auto;">
        <ion-list #top="" data-comp-id="list.1" style="margin: 0px 0px 16px;">
            <ion-title data-comp-id="title.2">
                <div *ngIf="data.errorMessage" color="danger" data-comp-id="text.1" ion-text="" style="margin: 5px 5px; white-space: normal; font-size: 18px; text-align: center;">Required Fields:</div>
                <div *ngIf="data.errorMessage" [innerHTML]="data.errorMessage" color="danger" data-comp-id="text.2" ion-text="" style="margin: 5px 5px 20px 5px; white-space: normal; font-size: 18px; text-align: center;"></div>
            </ion-title>
            <ion-item (click)="action('search')" data-comp-id="input.1" mode="ios" style="margin: 0; padding: 0px 0px 0px 16px;">
                <ion-label class=" required" color="dark" mode="ios" style="font-size: 16px; width: 70px;">For</ion-label>
                <ion-input [(ngModel)]="data.caller" [readonly]="true" mode="ios" placeholder="Search..." style="z-index: 1;" type="text"></ion-input>
                <ion-icon color="primary" data-comp-id="icon.1" item-end="" name="search" style="font-size: 28px; padding: 2px 10px; margin: 8px 0px 8px 0px; z-index: 1000; float: right;"></ion-icon>
            </ion-item>
            <ion-item data-comp-id="input.2" mode="ios">
                <ion-label class=" required" color="dark" mode="ios" style="font-size: 16px; width: 70px;">Phone</ion-label>
                <ion-input (ionChange)="onKeyUp($event)" [(ngModel)]="data.callBackNumber" maxlength="12" mode="ios" placeholder="Type here..." type="text"></ion-input>
            </ion-item>
            <ion-item class="wrap-field" data-comp-id="select.1" mode="ios">
                <ion-label class=" required" color="dark" mode="ios" style="font-size: 16px; width: 70px;">Type</ion-label>
                <ion-select (ionChange)="action('typeChanged')" [(ngModel)]="data.type.selected" [disabled]="data.typeReadOnly" [selectOptions]="{cssClass: 'select-full'}" interface="popover" mode="ios">
                    <ion-option *ngFor="let item of data.type.options" [innerHTML]="item.label" [value]="item.value" data-comp-id="option.1"></ion-option>
                </ion-select>
            </ion-item>
            <ion-item class="wrap-field" data-comp-id="select.2" mode="ios" style="padding: 0px 0px 0px 16px;">
                <ion-label class=" required" color="dark" mode="ios" style="font-size: 16px; width: 70px;">Building</ion-label>
                <ion-select (ionChange)="action('buildingChanged')" [(ngModel)]="data.building.selected" [selectOptions]="{cssClass: 'select-full'}" interface="popover" mode="ios">
                    <ion-option *ngFor="let item of data.building.options" [innerHTML]="item.label" [value]="item.value" data-comp-id="option.2"></ion-option>
                </ion-select>
            </ion-item>
            <ion-item data-comp-id="input.3" mode="ios" style="margin: 0; padding: 0px 0px 0px 16px;">
                <ion-label color="dark" mode="ios" style="font-size: 16px; width: 70px;">Floor</ion-label>
                <ion-input [(ngModel)]="data.floor" maxlength="30" mode="ios" placeholder="Type here..." type="text"></ion-input>
            </ion-item>
            <ion-item data-comp-id="input.4" mode="ios" style="margin: 0; padding: 0px 0px 0px 16px;">
                <ion-label color="dark" mode="ios" style="font-size: 16px; width: 70px;" text-wrap="">Location or Seat</ion-label>
                <ion-input [(ngModel)]="data.seat" maxlength="30" mode="ios" placeholder="Type here..." type="text"></ion-input>
            </ion-item>
            <ion-row data-comp-id="row.1" style="margin: 0; padding: 0;">
                <ion-col data-comp-id="column.1" style="padding: 5px 0; margin: 0;">
                    <div (fileReady)="action('attachPhoto')" [(ngModel)]="data.photo" data-comp-id="take-photo.1" take-photo="">
                        <ion-item>
                            <ion-thumbnail item-right="">
                                <img #thumbnail="">
                            </ion-thumbnail>
                            <ion-label color="dark" style="font-size: 16px;">
                                <span class="label">Attachment</span>
                                <input #file="" accept="image/*" capture="camera" class="fallback-input" type="file">
                            </ion-label>
                            <ion-icon class=" fa fa-paperclip" color="primary" item-end="" style=""></ion-icon>
                        </ion-item>
                        <camera-canvas></camera-canvas>
                    </div>
                </ion-col>
                <ion-col (click)="removeAttachment()" *ngIf="data.photo" data-comp-id="column.2" style="max-width: 52px; padding: 0px 0px; margin: 0px 0px 0px;">
                    <button data-comp-id="fab-button.1" ion-fab="" mini="" style="margin: 6px; padding: 0;">
                        <ion-icon class=" ion-md-close" style="font-size: 22px;"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
            <ion-item *ngIf="false" class="wrap-field" data-comp-id="select.3" mode="ios">
                <ion-label color="dark" mode="ios" style="font-size: 16px; width: 60px;">Urgency</ion-label>
                <ion-select [(ngModel)]="data.urgency.selected" [selectOptions]="{cssClass: 'select-full'}" interface="alert" mode="ios">
                    <ion-option *ngFor="let item of data.urgency.options" [innerHTML]="item.label" [value]="item.value" data-comp-id="option.3"></ion-option>
                </ion-select>
            </ion-item>
            <ion-item data-comp-id="textarea.1" mode="ios">
                <ion-label class=" required" color="dark" mode="ios" stacked="" style="font-size: 16px;">Short Summary</ion-label>
                <ion-textarea [(ngModel)]="data.shortDescription" maxlength="160" mode="ios" placeholder="Type here..." rows="5"></ion-textarea>
            </ion-item>
            <ion-item data-comp-id="textarea.2" mode="ios" style="border-bottom: 1px solid rgb(222, 222, 222);">
                <ion-label color="dark" mode="ios" stacked="" style="font-size: 16px;">Describe your request in detail</ion-label>
                <ion-textarea [(ngModel)]="data.additionalComments" maxlength="250" mode="ios" placeholder="Type here..." rows="12"></ion-textarea>
            </ion-item>
        </ion-list>
    </div>
    <ion-row data-comp-id="row.2">
        <ion-col data-comp-id="column.3" style="text-align: center;">
            <button (click)="action('submit')" data-comp-id="button.3" ion-button="" style="margin: 8px 2px;">
                <span>Submit</span>
            </button>
        </ion-col>
    </ion-row>
</ion-content>