<ion-row data-comp-id="row.1"
    style="padding: 0 4px; border-top: 0px none rgb(0, 0, 0);">
    <ion-col data-comp-id="column.1" style="text-align: center; padding: 15px 0px;">
        <img *ngIf="data.active === 'home'" data-comp-id="img.1"
            src="assets/images/inserts/footer/home_icon_act.png"
            style="width: auto; height: 23px;">
        <img *ngIf="data.active !== 'home'" data-comp-id="img.2"
            src="assets/images/inserts/footer/home_icon.png"
            style="width: auto; height: 23px;">
        <div color="{{data.active === 'home' ? 'primary' : 'medium'}}"
            data-comp-id="text.1" ion-text style="font-size: 12px;">Home</div>
    </ion-col>
    <ion-col data-comp-id="column.2" style="text-align: center; padding: 15px 0px;">
        <img *ngIf="data.active === 'myTickets'" data-comp-id="img.3"
            src="assets/images/inserts/footer/tickets_icon_act.png"
            style="width: auto; height: 23px;">
        <img *ngIf="data.active !== 'myTickets'" data-comp-id="img.4"
            src="assets/images/inserts/footer/tickets_icon.png"
            style="width: auto; height: 23px;">
        <div color="{{data.active === 'myTickets' ? 'primary' : 'medium'}}"
            data-comp-id="text.2" ion-text style="font-size: 12px;">My Tickets</div>
    </ion-col>
    <ion-col data-comp-id="column.3" style="text-align: center; padding: 15px 0px;">
        <img *ngIf="data.active === 'chat'" data-comp-id="img.5"
            src="assets/images/inserts/footer/chat_icon_act.png"
            style="width: auto; height: 23px;">
        <img *ngIf="data.active !== 'chat'" data-comp-id="img.6"
            src="assets/images/inserts/footer/chat_icon.png"
            style="width: auto; height: 23px;">
        <div color="{{data.active === 'chat' ? 'primary' : 'medium'}}"
            data-comp-id="text.3" ion-text style="font-size: 12px;">Chat</div>
    </ion-col>
    <ion-col data-comp-id="column.4" style="text-align: center; padding: 15px 0px;">
        <img *ngIf="data.active === 'call'" data-comp-id="img.7"
            src="assets/images/inserts/footer/call_icon_act.png"
            style="width: auto; height: 23px;">
        <img *ngIf="data.active !== 'call'" data-comp-id="img.8"
            src="assets/images/inserts/footer/call_icon.png"
            style="width: auto; height: 23px;">
        <div color="{{data.active === 'call' ? 'primary' : 'medium'}}"
            data-comp-id="text.4" ion-text style="font-size: 12px;">Call</div>
    </ion-col>
    <ion-col data-comp-id="column.5" style="text-align: center; padding: 15px 0px;">
        <img *ngIf="data.active === 'newRequest'" data-comp-id="img.9"
            src="assets/images/inserts/footer/add_issue_icon_act.png"
            style="width: auto; height: 23px;">
        <img *ngIf="data.active !== 'newRequest'" data-comp-id="img.10"
            src="assets/images/inserts/footer/add_isuue_icon.png"
            style="width: auto; height: 23px;">
        <div color="{{data.active === 'newRequest' ? 'primary' : 'medium'}}"
            data-comp-id="text.5" ion-text style="font-size: 12px;">New Request</div>
    </ion-col>
</ion-row>