screen-request-newrequest_phoneportrait,
screen-request-newrequest-phoneportrait {
    [data-comp-id^="input."], [data-comp-id^="select."] {
        ion-label {
            width: 70px;
        }
    }
    .quantity-form {
        [data-comp-id^="input."] {
            border-radius: 8px;
        }
    }
    [data-comp-id^="take-photo."] {
        .item-ios ion-icon[item-end] {
            margin: 5px 8px 5px 0px;
        }
    }
}
