screen-request-newrequest_phoneportrait,
screen-request-newrequest-phoneportrait {
    [data-comp-id^="input."], [data-comp-id^="select."] {
        ion-label {
            width: 70px;
        }
    }
    .quantity-form {
        [data-comp-id^="input."] {
            border-radius: 8px;
        }
    }
    // [data-comp-id^="take-photo."] {
    //     .item-block .item-inner {
    //         border: none;
    //     }
    // }
}
