$colors: (
  primary: #009bde,
  secondary: #36b37e,
  contrast: #1e428a,
  highlight: #6fc4e9,
  calm: #f0f6f9,
  balanced: #dbd9d6,
  danger: #ff3b30,
  good: #318507,
  white: #fff,
  light: #fafaff,
  stable: #ccc,
  medium: #8c8c8c,
  dark: #666666,
  coal: #444,
  black: #000,
  transparent: transparent
);
