.ion-page, ion-menu {
  margin-top: env(safe-area-inset-top);
  height: calc(100% - env(safe-area-inset-top)) !important;;
}
ion-footer {
    box-shadow: 0 -2px 16px 0 rgba(0, 0, 0, .2);
    backdrop-filter: blur(8px);
    background-color: rgba(255,255,255, .85) !important;
    height: calc(env(safe-area-inset-bottom) + 63px );
}

ion-searchbar {
    .searchbar-input {
        box-shadow: none !important;
    }
}

ion-spinner {
    transform: scale(2);
}

ion-app .loading-wrapper {
    background: transparent !important;
    box-shadow: none !important;
    flex-direction: column;
    .loading-content {
        margin-top: 18px;
        color: #030e4e !important;
    }
}

.loading-ios .spinner-ios line, .loading-ios .spinner-ios-small line {
    stroke: #030e4e !important;
}

.platform-android {
    .submitButton {
        margin-bottom:220px;
    }
}

.service-card:last-child {
    margin-bottom: calc(env(safe-area-inset-bottom) + 63px );
}