ion-footer {
    box-shadow: 0 -2px 16px 0 rgba(0, 0, 0, .2);
    backdrop-filter: blur(8px);
    background-color: rgba(255,255,255, .85) !important;
}

ion-searchbar {
    .searchbar-input {
        box-shadow: none !important;
    }
}

ion-spinner {
    transform: scale(2);
}

ion-app .loading-wrapper {
    background: transparent !important;
    box-shadow: none !important;
}

.loading-ios .spinner-ios line, .loading-ios .spinner-ios-small line {
    stroke: #030e4e !important;
}